[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
pyyaml = "*"
yamale = "*"

[dev-packages]
tox = "*"
pylint = "*"
pytest = "*"
mock = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
